@font-face {
    font-family: 'Knewave';
    src: url('font/Knewave-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'itc';
    src: url('font/ITC\ Franklin\ Gothic\ LT\ Medium.otf') format('truetype');
}
@font-face {
    font-family: 'akz';
    src: url('font/AkzidenzGroteskPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'intro';
    src: url('font/Intro\ Black\ Alt.otf') format('truetype');
}
@font-face {
    font-family: 'holiday';
    src: url('font/HolidayFree.otf') format('truetype');
}
@font-face {
    font-family: 'barlow';
    src: url('font/BarlowCondensed-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'barlow1';
    src: url('font/BarlowCondensed-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'black1';
    src: url('font/BlackHanSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'fraunces';
    src: url('font/Fraunces_9pt_Soft-Regular.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    color: white;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/Captura de pantalla 2024-09-24 080744.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo span {
    font-size: 1.5rem;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: calc(100% - 80px);
}

.content {
    max-width: 50%;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.slogan {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.logo-large {
    text-align: right;
}

.logo-large img {
    width: 600px;
    height: auto;
}
/*---------------------------------------------------*/
.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}
.content-1 {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    color: white;
    width: 80%;
}
.h1-1 {
    font-size: 111px;
    margin: 0;
    margin-left: 58%;
    margin-top: -250px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: itc;        
    text-align: center;
    letter-spacing: -6px;
    line-height: 1;
    font-weight: bolder;
}
.btn {
    display: inline-block;
    background-color: #4285f4;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 31.8px;
    margin-top: 10px;
    margin-right: 80px;
    font-family: akz;
    font-weight: bolder;
}
.car-image {
    position: absolute;
    left: 2%;
    bottom: -91%;
    width: 989px;
    height: 400px;
    z-index: -1;
}

/*------------------------------------------------------*/        
.container-2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
}
.text-content {
    width: 60%;
}
.h1-2 {
    font-size: 115px;
    margin: 0;
    margin-left: 15%;
    margin-top: -550px;
    text-transform: uppercase;
    font-family: intro;
    color: #dbc7b3;
    letter-spacing: -4px;
    line-height: 0.78;
    font-weight: bolder;
    text-align:left;
}
.car-image-1 {
    position: absolute;
    width: 726px;
    height: 435px;
    left: 44%;
    bottom: -183%;
    z-index: -1;
}
.explore-button {
    position: absolute;
    bottom: -190%;
    left: 30%;
    padding: 0px 90px;
    font-size: 50px;
    color: #a60e13;
    text-decoration: none;
    border: 2px solid #FF6B00;
    border-radius: 90px;
    transition: all 0.3s ease;
    font-family: holiday;
    box-shadow: 
        0 0 5px #FF6B00,
        0 0 10px #FF6B00,
        0 0 15px #FF6B00,
        0 0 20px #FF6B00,
        inset 0 0 5px #FF6B00,
        inset 0 0 10px #FF6B00;
    background-color: rgba(255, 107, 0, 0.1);
}
.explore-button:hover {
    color: #000;
    background-color: #FF6B00;
    box-shadow: 
        0 0 10px #FF6B00,
        0 0 20px #FF6B00,
        0 0 30px #FF6B00,
        0 0 40px #FF6B00,
        inset 0 0 10px #000,
        inset 0 0 20px #000;
    text-shadow: none;
}

/*-------------------------------------------------------*/
.container-3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    position: absolute;
    top: 320%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.card {
    background: linear-gradient(145deg, #8080FF, #4040FF);
    border-radius: 15px;
    padding: 20px;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
}
.card h2 {
    color: #90EE90;
    margin: 0;
    font-size: 44.1px;
    font-family: barlow;
}
.card h3 {
    color: #ffffff;
    margin: 5px 0 15px;
    font-size: 27.4px;
    font-weight: normal;
    font-family: barlow1;
}
.card .img-card-1 {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card .img-card-2 {
    width: 85%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.card button {
    background-color: #90EE90;
    color: #000000;
    border: none;
    padding: 10px 60px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: barlow1;
    font-size: 18.6px;
}
.card button:hover {
    background-color: #7CFC00;
}
/*--------------------------------------------------------*/
.container-4 {
    max-width: 600px;
    padding: 450px;
}
.h1-4 {
    font-size: 137px;
    margin: 0;
    color: #f0e6d2;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: black1;
    text-align: center;
}
.h2-4 {
    font-size: 70.8px;
    margin: 0 0 30px 0;
    font-weight: normal;
    font-family: fraunces;
    text-align: center;
}
.contact-button {
    display: inline-flex;
    align-items: center;
    background-color: #f0e6d2;
    color: #000;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 31px;
    transition: all 0.3s ease;
    font-family: fraunces;
    text-align: center;
    margin-left: 520px;
}
.contact-button:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}
.arrow {
    margin-left: 10px;
    font-size: 1.5rem;
}
/*-----------------------------------------------------------------*/
.logo-container {
    text-align: center;
    color: white;
}
.car-silhouette {
    max-width: 600px;
    height: 600px;
    display: block;
    margin: 0 auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: -120px;
}
.social-icons svg {
    width: 45px;
    height: 45px;
    fill: white;
}
/*-------------------------------------------------------------*/
@media (max-width: 1024px) {
h1 {
font-size: 3rem;
}
.h1-1, .h1-2 {
font-size: 80px;
margin-left: 30%;
}
.car-image, .car-image-1 {
width: 500px;
height: auto;
}
.btn, .explore-button {
font-size: 25px;
padding: 8px 40px;
}
.container-3 .card {
width: 45%;
margin-bottom: 20px;
}
.container-3 {
flex-wrap: wrap;
}
}

/* Media query para pantallas de 768px o menos (móviles) */
@media (max-width: 768px) {
header {
flex-direction: column;
padding: 1rem;
}
.logo img {
width: 40px;
}
.logo span {
font-size: 1.2rem;
}
nav a {
font-size: 0.9rem;
margin-left: 0.5rem;
}
main {
flex-direction: column;
text-align: center;
}

.content {
max-width: 90%;
}
.content-1{
top: 150%;
left: 50%;

}
.h1-1{
margin-top: 5px ;
margin-left: -5px;
font-size: 66px;
}
.btn{
margin-top: 10px;
margin-right: 40px;
}
.car-image{
left: 15%;
    bottom: -120%;
    width: 989px;
    height: 400px;
}
.logo-large img {
width: 200px;
bottom: 150px;

}
.container-2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
}
.text-content {
    width: 60%;
}
.h1-2 {
    font-size: 65px;
    margin: 0;
    margin-left: 15%;
    margin-top: -510px;
    text-transform: uppercase;
    font-family: intro;
    color: #dbc7b3;
    letter-spacing: -4px;
    line-height: 0.78;
    font-weight: bolder;
    text-align:left;
}
.car-image-1 {
    position: absolute;
    width: 726px;
    height: 435px;
    left: 14%;
    bottom: -183%;
    z-index: -1;
}
.explore-button {
    position: absolute;
    bottom: -190%;
    left: 30%;
    padding: 0px 90px;
    font-size: 50px;
    color: #a60e13;
    text-decoration: none;
    border: 2px solid #FF6B00;
    border-radius: 90px;
    transition: all 0.3s ease;
    font-family: holiday;
    box-shadow: 
        0 0 5px #FF6B00,
        0 0 10px #FF6B00,
        0 0 15px #FF6B00,
        0 0 20px #FF6B00,
        inset 0 0 5px #FF6B00,
        inset 0 0 10px #FF6B00;
    background-color: rgba(255, 107, 0, 0.1);
}
.explore-button:hover {
    color: #000;
    background-color: #FF6B00;
    box-shadow: 
        0 0 10px #FF6B00,
        0 0 20px #FF6B00,
        0 0 30px #FF6B00,
        0 0 40px #FF6B00,
        inset 0 0 10px #000,
        inset 0 0 20px #000;
    text-shadow: none;
}
/*-------------------------------------------------------------------------------*/            
.container-3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 50%;
}
.card {
    background: linear-gradient(145deg, #8080FF, #4040FF);
    border-radius: 15px;
    padding: 20px;
    width: 220px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
}
.card h2 {
    color: #90EE90;
    margin: 0;
    font-size: 44.1px;
    font-family: barlow;
}
.card h3 {
    color: #ffffff;
    margin: 5px 0 15px;
    font-size: 27.4px;
    font-weight: normal;
    font-family: barlow1;
}
.card .img-card-1 {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card .img-card-2 {
    width: 85%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.card button {
    background-color: #90EE90;
    color: #000000;
    border: none;
    padding: 10px 60px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: barlow1;
    font-size: 18.6px;
}
.card button:hover {
    background-color: #7CFC00;
}
    /*--------------------------------------------------------*/
    .container-4 {
    max-width: 200px;
    padding: 900px;
}
.h1-4 {
    font-size: 53px;
    margin: 0;
    color: #f0e6d2;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: black1;
    text-align: center;
}
.h2-4 {
    font-size: 40.8px;
    margin: 0 0 30px 0;
    font-weight: normal;
    font-family: fraunces;
    text-align: center;
}
.contact-button {
    display: inline-flex;
    align-items: center;
    background-color: #f0e6d2;
    color: #000;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 21px;
    transition: all 0.3s ease;
    font-family: fraunces;
    text-align: center;
}
.contact-button:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}
.arrow {
    margin-left: 10px;
    font-size: 1rem;
}
/*-----------------------------------------------------------------*/
.logo-container {
    text-align: center;
    color: white;
}
.car-silhouette {
    max-width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: -60px;
}
.social-icons svg {
    width: 25px;
    height: 35px;
    fill: white;
}
/*-------------------------------------------------------------*/


.car-image, .car-image-1 {
width: 350px;
height: auto;
}
.btn, .explore-button {
font-size: 20px;
padding: 6px 30px;
}
.container-3 .card {
width: 90%;
margin-bottom: 20px;
}
.container-3 {
flex-wrap: wrap;
}


.contact-button {
font-size: 20px;
margin-left: 0;
padding: 8px 20px;
}
}